* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}



/* Header //////////////////////////////////////////////*/
.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2ddf5c;
  padding: 8px 16px;
  z-index: 1;
}

.main-header>div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  height: 22px;

  /* Alt Text */
  color: #0e4f1f;
  font-weight: bold;
  text-decoration: none;
  font-size: 22px;
  display: inline-block;
}

.main-header__brand-icon {
  height: 100%;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
}

.main-nav__item:not(:last-child) {
  margin-right: 16px;
}

.main-nav__link {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0;
  transition: .2s;
  border-bottom: 5px solid transparent;
}

.main-nav__link:hover,
.main-nav__link:active {
  color: #fafafa;
  border-bottom: 5px solid #fafafa;
}

.main-nav__item-cta a {
  color: #fafafa;
  background-color: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
  transition: .2s;
  border-bottom: none;
}

.main-nav__item-cta a:hover,
.main-nav__item-cta a:active {
  color: #ff1b68;
  background-color: #fafafa;
  border: none;
}



/* Button /////////////////////////////////////////////////*/
.button {
  background-color: #0e4f1f;
  color: #f4f4f4;
  font: inherit;
  border: 0;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.2s;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.button:hover,
.button:active {
  border: 2px solid #0e4f1f;
  background-color: #fafafa;
  color: #0e4f1f;
}

.button:active {
  transform: translateY(3px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.button:focus {
  outline: none;
}



/* Main Footer ///////////////////////////////////////*/
.main-footer {
  background-color: #090909;
  padding: 32px;
  margin-top: 48px;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  color: #f4f4f4;
  text-decoration: none;
  transition: .2s;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #777;
}